*,*before,*:after{
	box-sizing: border-box;
	position:relative;

}
html,body{
	display: flex;
	justify-content:center; 
	align-items: center;
	flex-direction: column;
	width: 100%;
}
body{
	background: #ccc;
}
main{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}
section{
	background:#fff;
	margin: 5px;
	padding: 10px;
}
.se1{
	width: 67%;
}
.se1 h1{
	font-size:20px;
}
.se2{
	width: 26%;
	display:flex;	
}
.se2 div{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center; 
	margin: 5px;
}
.se2 div p{
	text-align: center;
	font-size: 10px;
}
.se3{
	width: 30%;
}
.se3 img {
	width:49%; 
}
.se3 p:last-child{
	text-align: right;
	color: red;
}
.se4{
	width:63%;
	margin:5px;
	padding:10px;
	display: flex;
	flex-wrap: wrap;
}
.se4 h2{
	font-size: 16px;
}
.se4 div img{
	width: 60%; 
}
.se4 div ul li{
	font-size: 13px;
}
.se4 h3{
	font-size: 15px;
}
.se5 {
	width: 54%;
}
.se6{
	width: 26%;
}
.se6 h3{
	font-size: 12px;
}
.se7{
	width: 10%;
}
.se7 ul li{
	/*width: 14.5%;*/
}
.se7 ul{
	padding-left:0;
	margin-bottom: 0;
	list-style: none;
}
.sec7 ul li:before{
	content: ".";
}



