*,*before,*:after{
	box-sizing: border-box;
	position:relative;

}
html,body{
	display: flex;
	justify-content:center; 
	align-items: center;
	flex-direction: column;
	width: 100%;
}
body{
	background: #ccc;
}
main{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}
h1, h2, h3 {
	margin-top: 0;
}
section{
	background:#fff;
	margin: 1%;
	padding: 12px;
	box-shadow: 5px 5px 20px #888;
}
.se1{
	width: 64.5%;
}
.se1 h1{
	font-size:20px;
}
.se2{
	width: 26%;
	display:flex;	
}
.se2 div{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center; 
	margin: 5px;
}
.se2 div p{
	text-align: center;
	font-size: 10px;
}
.se3{
	width: 26%;
	font-family: "Times New Roman - italico";
	font-size: 20px;
}
.se3 img {
	width:48%; 
}
.se3 p:last-child{
	text-align: right;
	font-family: arial;
	font-size: 17px;
}
.se4{
	width:64.5%;
	display: flex;
	flex-wrap: wrap;
}
.se4 h2{
	font-size: 17px;	
}
.se4 div {
	width: 48%;
	margin: 1%;
}
.se4 div img{
	width: 70%; 
	margin-left: 5%;
}
.se4 div p{
	margin-bottom: 2px;
	font-size: 17px;
}
.se4 div ul{
	margin: 0;
	padding-left: 0;
}
.se4 div ul li{
	font-size: 12px;
	list-style: none;
}
.se4 div ul li:before {
	content: "- ";
}
.se5 {
	width: 50%;
}
.se5 h2{
	font-size: 17px;
}
.se5 p{
	font-size:16px; 
}
.se6 {
	width: 21.7%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.se6 h3{
	font-size: 17px;
	width: 100%;
	margin-bottom: 2px;
}
.se6 img{
	width: 85%;
}
.se7{
	width: 14%;
}
.se7 h2{
	font-size: 17px;
}
.se7 ul {
	padding-left: 0;
	list-style: none;
}
.se7 ul li{
	margin-bottom: 7px;
}
.se7 ul li:before{
	content: "• ";
}



@font-face {
	font-family: "Times New Roman - italico";
	src:url(fonts/timesi.ttf);
}