*,*before,*:after{
	box-sizing: border-box;
	position:relative;

}
html,body{
	display: flex;
	justify-content:center; 
	align-items: center;
	flex-direction: column;
	width: 100%;
}
body{
	background: #ccc;
}
main{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}
section{
	background:#fff;
	margin: 5px;
	padding: 10px;
}
.se1{
	width: 67%;
}
.se1 h1{
	font-size:20px;
}
.se2{
	width: 26%;
	display:flex;	
}
.se2 div{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center; 
	margin: 5px;
}
.se2 div p{
	text-align: center;
	font-size: 10px;
}
.se3{
	width: 30%;
}
.se3 img {
	width:49%; 
}
.se3 p:last-child{
	text-align: right;
	color: red;
}
.se4{
	width:63%;
	margin:5px;
	padding:10px;
	display: flex;
	flex-wrap: wrap;
}
.se4 p{
	margin-bottom: 0px;
}
.se4 h2{
	font-size: 16px;	
}
.se4 div img{
	width: 60%; 
}
.se4 div h3{
	font-size: 17px;
}
.se4 div ul{
	margin: 1%;
	padding-left: 0;
}
.se4 div ul li{
	font-size: 10px;
	display: flex
}

.se5 {
	width: 53.5%;
}
.se5 p{
	font-size:16px; 
}
.se5 h2{
	font-size: 15px;
}
.se6 {
	width: 24%;
}
.se6 h3{
	font-size: 15px;
}
.se6 h2{
	font-size: 13px;
}
.se6 ul{
	font-size: 15px;
}
.se6 img{
  font-size: 20px;
}
.se7 h2{
	font-size: 24px;
}
.se7 ul li{
	font-size:																							se6{
	width: 26%;
}
.se6 h3{
	font-size: 16px;
}
.se7{
	padding: 40px;
}



